* {
  padding: 0;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-box {
  width: 80%;
  margin: auto;
}

#header .container-box .logo {
  text-align: center;
  padding: 50px 0 15px 0;
}

#header .container-box .logo .word-logo h1 {
  color: #b70038;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

#header .container-box .logo .icon-bar i {
  font-size: 25px;
  font-weight: 300;
}

#header .container-box .nav-li ul li {
  padding: 0 10px;
}

#header .container-box .nav-li ul li .red {
  color: #b70038;
}

#header .container-box .nav-li ul li a {
  text-decoration: none;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  color: black;
  font-size: 16px;
}

#header .container-box .nav-li ul li a:hover {
  color: #b70038;
}

.travel .container-box .box-travel {
  cursor: pointer;
  padding: 15px;
}

.travel .container-box .box-travel .image {
  overflow: hidden;
}

.travel .container-box .box-travel .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.travel .container-box .box-travel .image img {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.travel .container-box .box-travel .word-travel {
  margin-top: 15px;
  cursor: pointer;
}

.travel .container-box .box-travel .word-travel:hover .icon-word .icons i {
  visibility: visible;
  opacity: 1;
}

.travel .container-box .box-travel .word-travel .icon-word h6 {
  font-size: 14px;
  color: #7C8DA3;
  padding: 0 10px;
  position: relative;
  border-left: 2px solid red;
}

.travel .container-box .box-travel .word-travel .icon-word .icons i {
  padding: 5px;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.travel .container-box .box-travel .word-travel h2 {
  font-size: 19px;
  position: relative;
}

.travel .container-box .box-travel .word-travel h2:hover::before {
  width: 100%;
}

.travel .container-box .box-travel .word-travel h2::before {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #b70038;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.travel .container-box .box-travel .word-travel p {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.7;
}

.travel .container-box button {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid black;
  margin-top: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.travel .container-box button:hover {
  background-color: #b70038;
  color: white;
}

#footer .container-box ul .li-one {
  font-size: 17px;
  font-size: 600;
  padding-bottom: 10px;
  opacity: 1;
}

#footer .container-box ul li {
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.9;
}

#footer h5 {
  font-size: 17px;
  font-weight: 600;
}

#footer .input-group input {
  border: none;
}

#footer .input-group button {
  background-color: #B70038;
  color: white;
  font-weight: 500;
}

@media (max-width: 640px) {
  .container-box {
    width: 90%;
  }
  #header .container-box .logo h1 {
    font-size: 28px;
  }
  #header .container-box .nav-li {
    display: none;
  }
}

@media (min-width: 640px) {
  #header .container-box .logo .word-logo {
    margin: auto;
  }
  #header .container-box .logo .icon-bar {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */